body {
  height: 100vh;
  margin: 0 auto;
  overflow: hidden;
  font-family: Roboto, sans-serif; 
  display: flex;
  justify-content: center;
  flex-direction: column;

}

.hero {
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 0 48px;
}

.header {
    color: white;
    display: flex;
    justify-content: space-between;
}

.herobody {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.heromain {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.herosecond {
    font-size: 18px;
    color: #e5e7eb;
}

.button1 {
    color: #f9faf8;
    background-color: #3882f6; 
    padding: 8px 24px;
    border-radius: 10px;
}

.placeholder-box {
    width: 500px;
    height: 150px;
    background-color: #646c78;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f9faf8;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}


.information {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.info-one {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}

.info-two {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.info {
    max-width: 200px;
}

.blue-box {
    width: 150px;
    height: 150px;
    border: 5px solid #3882F6;
    border-radius: 10px;
}

.quotes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    background-color: #e5e7eb;
    font-size: 36px;
    color: #1f2937;
    font-style: light italic;

}

.calltoaction {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-around;
    background-color: #3882F6;
    color: #f9faf8;
}

.button2 {
    padding: 8px, 16px;
    border-radius: 10px;
    border-color: #f9faf8;
    background-color: #3882f6;
} 

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 64px;
    color: #e5e7eb;
    background-color: #1f2937;
}