body {
  
  margin: 0 auto;
  font-family: Roboto, sans-serif; 


}

.hero {
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
    padding: 0 48px;
}

.header {
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 1rem 4rem;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

.links {
    display: flex;
    gap: 1.5rem;
}
.links a {
    
    color: #e5e7eb;
    text-decoration: none;
    font-size: 18px;
}



.herobody {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem 4rem;
}


.heromain {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.herosecond {
    font-size: 18px;
    color: #e5e7eb;
}

.button1 {
    color: #f9faf8;
    background-color: #3882f6; 
    padding: 8px 24px;
    border-radius: 10px;
}

.placeholder-box {
    width: 500px;
    height: 150px;
    background-color: #646c78;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f9faf8;
}

.information {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 3rem 4rem;
}

.info-one {
    display: flex;
    align-items: flex-start;
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    margin-bottom: 2rem;
}

.info-two {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
}

.info {
    max-width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.text {
    width: 100%;
    align-items: center;
    word-wrap: break-word;
    text-align: center;
}

.blue-box {
    width: 150px;
    height: 150px;
    border: 5px solid #3882F6;
    border-radius: 10px;
}

.quotebox {
    display: flex;
    flex-direction: column;
    color: #1f2937;
    background-color: #e5e7eb;
    padding: 2rem 5rem;

}
.quotes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    font-size: 36px;
    font-style: light italic;
    
    
}

.thor {
    display: flex;
    justify-content: right;
    align-items: start;
    font-size: 24px;
    font-weight: 900;
    padding: 0px 48px;
}

.calltoaction-wrap {
    display: flex;
    justify-content: center;
    padding: 5% 10%;
    background-color: white;
}
.calltoaction {
    display: flex;
    flex: 1;
    padding: 3rem 4rem;
    border-radius: 10px;
    align-items: center;
    justify-content: space-around;
    background-color: #3882F6;
    color: #f9faf8;
}

.signup {
    display: flex;
    justify-content: center;
    align-items: center;
}
.button2 {
    display: flex;
    flex: 1;
    padding: 8px 24px;
    flex-shrink: 0;
    border-radius: 8px;
    border-color: white;
    background-color: #3882f6;
    color: #f9faf8;
} 

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 64px;
    color: #e5e7eb;
    background-color: #1f2937;
    padding: 1rem;
}